<!DOCTYPE html>
<html lang="en">
	{{ partial "head.html" . }}
	<body class="is-boxed has-animations">
		<div class="body-wrap boxed-container">		
		{{ partial "header.html" . }}
			<main>
				{{ block "main" . }}{{ end }}				
			</main>	
			<div style="text-align: left; font-size: 6px; color: rgb(246, 246, 246);">By using this site, you consent to our collection of browser data as per our privacy policy.</div>
		{{ partial "footer.html" . }}
		</div>
		{{ partial "script.html" . }}
	</body>
</html>