		<header class="site-header">
			<div class="container">
				<div class="site-header-inner">
					<div class="brand header-brand">
						<h1 class="m-0">
							<a href="#">
								<svg width="120%" height="60" xmlns="http://www.w3.org/2000/svg">
									<title>{{ .Site.Title }}</title>
									<text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" font-family="Arial" font-size="36" fill="black">🅒🅞🅓🅔 🆃🆄🆃🅾🆁</text>
								</svg>																							
							</a>
						</h1>
					</div>
				</div>
			</div>
		</header>